/* ======================= COMMON ======================= */
@font-face {
  font-family: "OpenSans";
  src: url(../fonts/OpenSans-Regular.woff) format("woff"),
  url(../fonts/OpenSans-Regular.woff2) format("woff2");
  
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Bold.woff") format("woff"),
  url("../fonts/OpenSans-Bold.woff2") format("woff2");
 
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

*, *::after, *::before { 
  box-sizing: border-box;
}

body {
  font-family: "OpenSans", sans-serif;
  margin: 0;
}

ul, h3 {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 1px;
  
  background-color: #b59f5b;
  border: none;
}

button:hover {
  background-color: #323232;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

/* ======================= HEADER ======================= */
.header {
  width: 100%;
  padding: 35px 0 70px;
  color: #fff;
  background-image: url("../images/banner-bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #666;
  
  position: relative;
  z-index: 0;
}

.header::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #000;
  opacity: 0.6;
  z-index: -1;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.logo-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
   
  padding: 0 15px;
}

.logo {
  width: 180px;
}

.menu-title {
  display: flex;
  flex-wrap: nowrap;
  
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 1px; 
}

.menu-point:nth-child(n + 2) {
  margin-left: 35px;
}

.menu-link {
  color: #fff;
}

.menu-link:hover {
  text-decoration: underline;
}

.burger-menu {
  display: none;
}

.header-title {
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  font-size: 45px;
  letter-spacing: 3px;
  line-height: 75px;
  
  margin-top: 55px;
  padding: 0 200px;
}

/* ======================= TRENDS ======================= */
h2.trends-title, 
h2.products-title {
  margin: 65px 0 45px 0;
  font-size: 20px;
}

.trend-cards {
  display: flex;
  gap: 4px;
}

.trend-card {
  display: flex;
  align-items: flex-end;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #606260;
  padding: 20px;
  width: calc((100% - 12px) / 4);
  min-height: 320px;
  
  position: relative;
  z-index: 0;
}

.trend-card::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #000;
  opacity: 0.6;
  z-index: -1;
}

.first-card {
  background-image: url("../images/trend1.jpg");
}

.second-card {
  background-image: url("../images/trend2.jpg");
}

.third-card {
  background-image: url("../images/trend3.jpg");
}

.fourth-card {
  background-image: url("../images/trend4.jpg");
}

.card-text {
  display: flex;
  flex-direction: column;
  padding: 35px;

  opacity: 0.8;
  border: 3px solid #b59f5b;
}

.card-title {
  margin-top: 15px;
}

.card-title-link {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 20px; 
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #fff;
}

.card-title-link:hover {
  color: #b59f5b;
}

/* ======================= MAIN ======================= */
.content {
  display: flex;
  justify-content: space-between;
  
  padding: 0 15px;
  margin: 63px auto;
  max-width: 1200px;
}

.main { 
  flex-grow: 1;
  margin-right: 60px;
}

.article, .post {
  display: flex;
  flex-wrap: nowrap;
}

.article:nth-child(n + 2) {
   margin-top: 59px;
}

.article-image {
  width: calc((100% - 30px) / 2);
  margin-right: 30px;
  background-color: #eff6f1;
}

.article-tag {
  display: flex;
  flex-wrap: nowrap;
}

.article-tag-point:nth-child(n + 2) {
  margin-left: 20px;
}

.article-tag-link {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px; 
  color: #b59f5b;
}

.article-tag-link:hover {
 text-decoration: underline; 
}

.article-title-link {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 20px; 
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #0f0d0e;
}

.article-title-link:hover {
  color: #b59f5b;
}

.time-author {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-end;
  
  margin: 0 0 15px 0;
}

.time {
  font-size: 12px; 
  color: #888888;
}

.author-link {
  font-weight: 700;
  font-size: 12px; 
  color: #000;
  font-style: normal;
  
  padding-left: 15px;
}

.text > p {
  font-size: 15px;
  letter-spacing: 1px; 
  line-height: 22px;
  color: #0f0d0e;
  
  margin: 0;
}

.text > p:not(first-child) {
  margin-top: 16px;
}

/* ======================= ASIDE ======================= */
.aside {
  width: 271px;
}

.section-title {
  font-weight: 700;
  text-transform: uppercase; 
  font-size: 14px;
  color: #0f0d0e;
  text-align: center;
  
  position: relative;
}

.section-title::after {
  position: absolute;
  right: 0;
  left: 0;
  content: "";
  display: block;
  width: 66px;
  margin: 14px auto;
  border-bottom: 3px solid #b59f5b;
  opacity: 0.4;
}

.aside-item .post:first-of-type {
  margin-top: 29px; 
}

.post:nth-child(n + 2) {
   margin-top: 22px;
}

.post-image {
  height: 70px;
  width: 70px;
  margin-right: 19px;
  background-color: #f4f7f5;
}


.post-time {
  font-size: 12px;
  color: #000;
  
  opacity: 0.541;
}

.post-title-link {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px; 
  color: #000;
}

.post-title-link:hover {
  color: #b59f5b;
}

.search-form {
  display: flex;
  flex-wrap: nowrap;
  
  margin: 60px 0;
}

.aside-field {
  opacity: 0.541;
  font-size: 13px;
  color: #000;
  max-height: 48px;
  background-color: #f4f7f6;
  border: none;
  
  padding: 18px 18px;
}

.search-field {
  width: 222px;
}

.aside-field:focus {
  outline: 1px solid #b59f5b;
}

.search-button {
  width: 48px;
  height: 48px;
  background-image: url("../svg/search.svg");
  background-color: #b59f5b;
  background-size: 18px;
  background-repeat: no-repeat;
  background-position: center center;
  border: none;
}

.search-button:hover {
  background-color: #323232;
}

.subscribe-form {
  margin: 40px 0 60px 0;
}

.email-field {
  width: 100%;
}

.subscribe-button{
  width: 100%;
  height: 48px;
  
  margin-top: 16px;
}

.aside-tag {
  display: flex;
  flex-wrap: wrap; 
  
  margin: 40px 0 60px;
}

.aside-tag-point {
  background-color: rgba(244,243,241,0);
  border: 3px solid #eeeeee;
  text-align: center;
  margin: 0 6px 6px 0;
  padding: 5px 8px;
}

.aside-tag-point:hover {
  border: 3px solid #b59f5b;
} 

.aside-tag-link { 
  font-weight: 800;
  text-transform: uppercase;
  font-size: 12px;
  color: #0f0d0e;
}

.themes {
 margin-top: 40px; 
}

.aside-themes {
  display: flex;
  align-items: center;
  
  padding: 15px 0;
  border-bottom: 1px solid #eeeeee;
}

.themes-link {
  font-weight: 800;
  font-size: 14px; 
  color: #000;
}

.themes-link:hover {
  color: #b59f5b;
}

.themes-number {
  font-size: 12px;
  color: #b59f5b;
  font-weight: 700;
  margin: 0 0 5px 5px;
}


/* ======================= PRODUCTS ======================= */
.product-cards {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
  margin-bottom: 90px;
}

.product-card {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.wrp-image {
  padding: 0 25px;
}

.product-image {
  width: 100%;
  background-color: #eff6f1;
}

.product-content {
  box-sizing: content-box;
  border: 3px solid #b59f5b;
  padding: 25px 25px;
  margin-top: -25px;
  flex-grow: 1;
}

.product-title {
  font-size: 20px;
  text-transform: uppercase;
  color: #0f0d0e;
  font-weight: 700;
}

.product-text {
  font-size: 15px;
  line-height: 22px;
  color: #0f0d0e;
  font-weight: 400;
  margin-bottom: 25px;
  margin-top: 0;
}

.product-link {
  color: #b59f5b;
}

.product-link:hover {
 text-decoration: underline; 
}

.store {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.price {
  color: #0f0d0e;
  font-weight: 700;
}

.old-price {
  font-size: 14px;
  text-decoration: line-through;
}

.new-price {
  font-size: 20px;
}

.store-button {
  width: 140px;
  height: 48px;
}

/* ======================= FOOTER ======================= */
.footer {
  padding: 0 15px;
  margin-bottom: 40px;
}

.footer-icon {
  display: inline-block;
  width: 1170px;
  padding: 30px 15px;
  background-color: #f4f7f6;
}

.social-icon {
  text-align: center;
}

.icon {
  display: inline-block;
  margin-right: 30px;
}

.icon:last-child {
  margin-right: 0;
}

.icon-link {
  display: block;
  height: 20px;
  width: 20px;
  background-repeat: no-repeat;
}

.icon-dribbble {
  background-image: url("../svg/001-dribbble.svg");
}

.icon-pinterest {
  background-image: url("../svg/002-pinterest.svg");
}

.icon-tumblr {
  background-image: url("../svg/003-tumblr.svg");
}

.copyright {
  text-align: center;
  margin-top: 74px;
}

.copyright-link {
  font-weight: 700;
  font-size: 12px; 
  color: #999;
}

/* ======================= POPUP ======================= */
.popup {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100vh;
  left: 0; 
  top: 0;
  
  background: rgba(0, 0, 0, 0.6);
}

.popup-content {
  position: relative;
  background: #fff;
  
  width: 390px;
  padding: 54px 30px;
  box-sizing: border-box;
  
  z-index: 2;
}

h2.popup-title {
  margin: 0 0 45px 0;
  font-size: 20px;
}

.popup-close {      
  position: absolute; 
  right: 0px;
  top: -25px;
  width: 18px;
  background-image: url("../svg/form-x.svg");
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

.text {
  font-size: 13px;
  color: #000;
  font-weight: 400;
}

.popup-field {
  background-color: #f4f7f6;
  border: none;
  width: 100%;
  
  opacity: 0.541;
  font-size: 13px;
  color: #000;
  font-weight: 400;
}

.popup-select {
  height: 48px;
  
  padding-left: 20px;
  margin: 8px 0 30px;
  
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("../svg/form-arrows.svg");
  background-repeat: no-repeat;
  background-position: right 14px center;
  background-size: 9px;
}

.popup-field:focus {
  outline: 1px solid #b59f5b;
}

.radio {
  margin-bottom: 25px;
}

.popup-radio {
  margin-right: 17px;
}

.popup-input {
  display: none;
}

.popup-input-text::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 17px;
  height: 17px;
  background-image: url("../svg/form-empty-circle.svg");
  background-repeat: no-repeat;
  background-size: 17px;
  margin-right: 4px;
}

.popup-input:checked + .popup-input-text::before {
  background-image: url("../svg/form-circle.svg");
}

.popup-textarea {
  font-family: "OpenSans-Regular", sans-serif; 
  margin: 8px 0 25px;
  padding: 23px 0 0 20px;
  height: 131px;
  resize: none;
}

.popup-button {
  width: 100%;
  height: 48px;
}


/* ======================= TABLET ======================= */
@media(min-width: 641px) and (max-width: 1199px) {
  .header {
    background-image: url("../images/banner-bg-tablet.jpg");
  }

  .container {
    max-width: 1199px;
  }

  .logo-menu {
    padding-left: 35px;
  }
  

  .menu-title {
    display: none;
  }
  
  .burger-menu {
    position: absolute; 
    right: 35px;
    top: 30px;

    display: inline-block;
  }

  .header-title {
    padding: 0 65px;
  }

  .content {
    padding: 0 35px;
  }

  .main { 
    margin-right: 35px;
  }

  .article {
    flex-direction: column;
  }

  .article-image {
    width: 100%;
    margin-right: 0;
  }

  .main-tag {
    padding-top: 15px;
  }
  
  .product-cards {
    flex-wrap: wrap;
    padding: 0 35px;
  }

  .product-card {
    width: calc((100% - 100px) / 2);
  }

  .product-card:nth-child(n + 3) {
    margin-top: 60px;
  } 

  .footer-icon {
    width: 100%;
    padding: 30px 35px;
  }
  
  .popup-close {      
    width: 27px;
  }
}


@media(min-width: 641px) and (max-width: 1199px) and (orientation: portrait) {
  .trend-cards {
    flex-wrap: wrap;
  }

  .trend-card {
    width: calc((100% - 4px) / 2);
    justify-content: center;
  } 
}


/* ======================= MOBILE ======================= */
@media(max-width: 640px){
  .header {
    background-image: url("../images/banner-mobile.jpg");
    padding: 225px 0 220px;
  }

  .menu-title {
    display: none;
  }
  
  .burger-menu {
    position: absolute; 
    right: 45px;
    top: 30px;

    display: inline-block;
  }

  .logo-menu {
    justify-content: center;
  }

  .logo {
    width: 270px;
  }

  .header-title {
    font-size: 26px;
    line-height: 36px;
    padding: 0 45px;
    margin-top: 45px;
  }

  .trend-cards {
    flex-direction: column;
  }

  .trend-card {
    width: 100%;
    justify-content: center;
  } 

  .content {
    flex-direction: column;
  }

  .main {
    margin-right: 0;
  }

  .article {
    flex-direction: column;
  }

  .article-image {
    width: 100%;
    margin-right: 0;
  }

  .main-tag {
    padding-top: 15px;
  }

  .aside {
    width: 100%;
  }

  .search-label {
    width: 100%;
  }
  
  .search-field { 
    width: 100%;
  }

  .subscribe-form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .email-field {
    width: 100%;
  }
  
  .subscribe-button{
    width: 100%;
  }

  .product-cards {
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 0;
  }

  .product-card {
    width: 100%;
  }

  .product-card:nth-child(n + 2) {
    margin-top: 60px;
  } 

  .footer-icon {
    width: 100%;
  }

  .popup-content {
    width: 330px;
    padding: 30px 25px;
  }

  .popup-close {      
    width: 27px;
  }
}



@media(max-width: 640px) and (orientation: landscape) {
  .trend-cards {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .trend-card {
    width: calc((100% - 4px) / 2);
    justify-content: center;
  } 
}